name: Deploy MasterData (Auto)


on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted # Твой Windows-сервер

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: .\mvnw.cmd clean package -DskipTests

      - name: Deploy on Server
        run: |
          # --- НАСТРОЙКИ ---
          $TargetDir = "C:\GlobalDist\apps\masterdata"
          $ConfigFile = "C:\GlobalDist\config\masterdata.yaml"
          
          $JarPattern = "masterdata-*.jar"
          $SourceJar = (Get-Item "target\$JarPattern").FullName
          
          Write-Host "--- 1. Stopping old process ---"
          # Останавливаем старую Java
          Stop-Process -Name "java" -Force -ErrorAction SilentlyContinue
          Start-Sleep -Seconds 3
          
          Write-Host "--- 2. Copying new version ---"
          if (!(Test-Path $TargetDir)) { New-Item -ItemType Directory -Force -Path $TargetDir }
          
          # Копируем и переименовываем
          Copy-Item $SourceJar -Destination "$TargetDir\app.jar" -Force
          
          Write-Host "--- 3. Starting new version ---"
          Set-Location $TargetDir
          
          # Запускаем с внешним конфигом
          Start-Process java -ArgumentList "-jar", "app.jar", "--spring.config.additional-location=file:$ConfigFile" `
                        -RedirectStandardOutput "logs.txt" `
                        -RedirectStandardError "errors.txt" `
                        -WindowStyle Hidden