name: Deploy to Windows Server

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests
        working-directory: ./backend

      - name: Stop Java Service
        run: Stop-Service -Name "GlobalDistAPI" -ErrorAction SilentlyContinue
        shell: powershell

      - name: Deploy JAR
        run: |
          Copy-Item -Path ".\backend\target\app-core.jar" -Destination "C:\GlobalDist\apps\master-data\app-core.jar" -Force
        shell: powershell

      - name: Start Java Service
        run: Start-Service -Name "GlobalDistAPI"
        shell: powershell
